<div class="d-flex">
  <!-- Sidebar -->
  <nav class="sidebar p-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/auth/signup" class="nav-link">
          🔹 Inscription
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/auth/signin" class="nav-link">
          🔑 Connexion
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/project" class="nav-link">
          📁 Projects
        </a>
      </li>
      <li class="nav-item mt-3">
        <button class="btn btn-danger w-100" (click)="logout()">
          ❌ Déconnexion
        </button>
      </li>
    </ul>
  </nav>

  <!-- Contenu principal -->
  <div class="content p-4 flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
